.searchBar {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textFieldInput {
  height: calc(2.25rem + 2px);
  padding-left: 5%;
  color: #212529;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  outline: none;
}

.textFieldInput::placeholder {
  padding-left: 5%;
  color: #212529;
  opacity: 0.4;
}

.autocomplete {
  backdrop-filter: grayscale(40%) blur(1.5px);
  background: rgba(199, 199, 199, 0.301);
  max-height: 40vh;
  width: 184px;
  list-style: none;
  position: absolute;
  z-index: 1;
}

.autocomplete::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.autocompleteItem {
  padding: 4px 0 4px 5%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.autocompleteItem:hover {
  background: rgba(199, 199, 199, 0.63);
  cursor: pointer;
  transition: cubic-bezier(1, 0, 0, 1) 0.3s all;
}

.updateForm {
  display: flex;
  margin-left: 1%;
  position: relative;
  align-items: center;
}
