.widget {
  margin: 0 auto;
  display: flex;
  width: 600px;
  justify-content: space-around;
}

@media (max-width: 595px) {
  .widget {
    display: block;
  }
}

.tempMaxMinCard {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(13, 17, 21, 0.2);
  -moz-box-shadow: 4px 4px 5px 2px rgba(13, 17, 21, 0.2);
  box-shadow: 4px 4px 5px 2px rgba(13, 17, 21, 0.2);
  border: 1px solid rgba(13, 17, 21, 0.2);
  border-radius: 0.5rem;
}

.tempMaxMinCard > p:first-child {
  padding-bottom: 1rem;
}
