.cardsContainer {
  margin: auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weatherCard {
  margin: 3rem 0 3rem 0;
  min-width: 380px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(13, 17, 21, 0.2);
  -moz-box-shadow: 4px 4px 5px 2px rgba(13, 17, 21, 0.2);
  box-shadow: 4px 4px 5px 2px rgba(13, 17, 21, 0.2);
  border: 1px solid rgba(13, 17, 21, 0.2);
  border-radius: 0.5rem;
}

@media (max-width: 430px) {
  .cardsContainer {
    font-size: 16px;
    width: 100%;
  }

  .weatherCard {
    margin: 2rem 0 0 0;
    min-width: 350px;
    border-radius: none;
  }
}

.weatherCard > p {
  padding-bottom: 1rem;
}

.weatherCard > p:first-child {
  font-weight: bold;
}

.btn {
  justify-content: space-around;
}

.btn > button {
  margin: 0 1rem 0 1rem;
  color: #fff;
  text-decoration: none;
  user-select: none;
  padding: 0.4em 1em;
  border: 1 solid #596068;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn > button:first-child {
  background: rgb(152, 15, 0);
}

.btn > button:first-child:hover {
  background: rgb(197, 75, 59);
}

.btn > button:first-child:active {
  background: rgb(100, 13, 4);
}

.btn > button:last-child {
  background: rgb(30, 134, 16);
}

.btn > button:last-child:hover {
  background: rgb(82, 146, 73);
}

.btn > button:last-child:active {
  background: rgb(13, 66, 6);
}
